body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.selectors-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.selector-container {
  width: 48%;
  display: flex;
  flex-direction: column;
}

h3 {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 10px;
}

select {
  width: 100%;
  padding: 8px;
  font-size: 1em;
  margin-bottom: 10px;
}

.file-path {
  font-size: 0.9em;
  color: #666;
  word-break: break-all;
  flex-grow: 1;
}
